# Database Configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cloudops?schema=public"

# Redis Configuration
REDIS_URL="redis://localhost:6379"

# JWT Configuration
JWT_SECRET="admin"
JWT_EXPIRES_IN="1d"

# Server Configuration
PORT=3000
